<h1>Style: <%= @shoe.style%></h1>
<h1>Color: <%= @shoe.color%></h1>

<%= render('layouts/errors', :object => @shoe) %>

<form action"/shoes/<%= @shoe.id %>" method="post">
<input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <button>update Shoe</button>
</form>